.navbar-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    padding: 0 30px;
}

.navbar-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-container {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: larger;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
    color: #007bff;
    opacity: 1;
    transition: opacity 0.5s ease;
}